<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Calculatrice NPI</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        
		<style>
			.navbar .navbar-header,
            .navbar-collapse {
                 float:none;
                 display:inline-block;
                 vertical-align: top;
                 padding-left: 0;
                 padding-right: 0;
				 text-decoration: black;
            }
		</style>
		
	</head>

	<body align=center>
	    
		<nav class="navbar navbar-default">
			<div class="container text-center">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Accueil</a>
				</div>
				<div id="navbar" class="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="liste_datas">Liste datas</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="row">
			<div class="col-md-4"> </div>
			<div class="col-md-4"><legend><h1>Calculatrice NPI</h1></legend></div>	
			<div class="col-md-4"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-horizontal" method="post">

					<div class="form-group">
						<label class="control-label col-xs-3" for="entree_utilisateur">Entrée :</label>
						<div class="col-xs-7">
							<input id="entree" type="text" class="form-control" name="entree"  value="{{ request.form['entree'] }}" placeholder=" ">
						</div>
					</div>
					
					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                			<input type="submit" class="btn btn-success" value="Valider">
                			<input type="reset" class="btn btn-danger" name ="reinitialiser" value="Effacer">
            			</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Résultat :</label>
						<div class="col-xs-7">
							<input type="text" name="result" class="form-control" value={{ entry }}>
						</div>
					</div>
        		</form>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-7">
						<a href="/"><input type="submit" class="btn btn-warning" value="Réinitialiser"></a>
					</div>
				</div>

	
				<div class="instructions">
					<div class="col-xs-12">
						<h3>Instructions</h3>
						<h5> Laissez SVP un espace entre chaque 2 opérandes</h5>
						<h5> N'oubliez pas l'opérateur = à la fin 
						<h5> La liste des opérations n'est pas complète</h5>	
						<h5> Les opérations possibles : </h5>
						<div class="col-xs-12">
						
							<p>= : égal</p>
							<p>+ : addition</p>
							<p>- : soustraction</p>
							<p>* : multiplication </p>
							<p>/ : division entière</p>
							<p>% : modulo</p>
							<p>^ : exposant</p>
							<p>a : nombre aléatoire</p>
							
							
						
						</div>
				</div>
				
        	 </div>

        	<div class="col-md-4"></div></div>
		</div>
		<p> </p>
        <p> </p>
		<p> </p>
		<p> </p>
		<p> </p>
		<p> </p>
		<footer class="text-center text-white fixed-bottom" style="background-color: #ffffff;">
			<!-- Grid container -->
			<div class="container p-4"></div>
			<!-- Grid container -->
		  
			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
			  © 2023 Copyright:
			  <a class="text-white" href="https://madjidportfolio.vercel.app/">Madjid TAOUALIT</a>
			</div>
			<!-- Copyright -->
		  </footer>
	</body>
</html>


